* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  /* height: 100vh; */
  background: #9e9e9e;
}

.CanvaStyle {
  height: 100vh;
  /* background-color: black; */
}
.container {
  width: 100%;
  height: 100%;
}

.VideoPlayerDiv {
  position: absolute;
  transform: none;
}

.VideoPlayer {
  height: 100%;
  background-color: black;
}
#myVideo {
  /* video fullscreen and fixed like background */
}
.SkyBox {
  margin-top: 2%;
  height: 100vh;
}

.logoParent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.Maintext {
  text-align: center;
  font-size: 8rem;
  font-weight: 900;
  color: white;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: -50px;
}
.subText {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  color: white;
  margin-block-start: 0em;
}

@media screen and (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-menu {
    flex-direction: row;
    margin: 0;
  }

  .navbar-menu li {
    margin-left: 1rem;
    margin-bottom: 0;
  }
}

.TrianglePlayer {
  position: relative;
  width: 850px;
  height: 582px;
  /* overflow: hidden; */
  display: flex;
  /* Triangle Cutting */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/*  */

.videoPlayer {
  display: flex;
  flex: auto;
  align-content: center;
  justify-content: center;
  margin-bottom: 5%;
}

.TrianglePlayer video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: bottom center;
  transform: rotate(45deg) scaleY(1.41);
}

/* @media only screen and (max-width: 500px) {
  .TrianglePlayer:before {
    border-left: 100vw solid transparent;
    border-bottom: 100vw solid white;
    border-right: 100vw solid transparent;
  }
} */
