* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.VideoPlayerDiv {
  position: absolute;
  transform: none;
}

.VideoPlayer {
  height: 100%;
  background-color: black;
}
#myVideo {
  /* video fullscreen and fixed like background */
}

.logoParent {
}

.exploreBtnParent {
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 15px 15px 15px 15px;
}
.exploreBtn {
  /* border: 1px white solid; */
  padding: 14px 25px;
  border-radius: 15px 15px 15px 15px;
}

@media screen and (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-menu {
    flex-direction: row;
    margin: 0;
  }

  .navbar-menu li {
    margin-left: 1rem;
    margin-bottom: 0;
  }
}

.TrianglePlayer {
  position: relative;
  width: 850px;
  height: 582px;
  /* overflow: hidden; */
  display: flex;
  /* Triangle Cutting */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/*  */

.videoPlayer {
  display: flex;
  flex: auto;
  align-content: center;
  justify-content: center;
  margin-bottom: 5%;
}

.TrianglePlayer video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: bottom center;
  transform: rotate(45deg) scaleY(1.41);
}

/* @media only screen and (max-width: 500px) {
  .TrianglePlayer:before {
    border-left: 100vw solid transparent;
    border-bottom: 100vw solid white;
    border-right: 100vw solid transparent;
  }
} */
